<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %} | Vending Machine Console</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <nav class="navbar is-danger">
        <div class="navbar-brand">
            <a href="/" class="navbar-item">
                <strong>Vending Machine Console</strong>
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div class="navbar-menu">
            <div class="navbar-start">

                <a class="navbar-item " href="/">
                    Home
                </a>

                <a class="navbar-item " href="/items">
                    Items
                </a>

                <a class="navbar-item " href="/rules">
                    Rules
                </a>

            </div>

            <div class="navbar-end">
                <a href="/logout" class="navbar-item">Logout</a>
            </div>
        </div>
    </nav>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="notification is-{{category}} is-light my-0">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {% block content %}{% endblock %}
</body>

</html>