<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dispenser</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
</head>

<body>
    <div class="container p-2">
        <h1>Balance: ${{balance}}. Select product</h1>
        {% for product in products %}
        <form action="/dispense_now" method="post" class="my-1">
            <input type="hidden" name="location" value="{{product.location}}">
            <input type="hidden" name="user_id" value="{{user_id}}">
            <input type="submit" class="button is-primary is-fullwidth" value="{{product.name}} (${{product.price}})">
        </form>
        {% endfor %}
    </div>
</body>

</html>